.currency-input__label {
  display: block;
  text-align: left;
  font-weight: bold;
}

.currency-input__input {
  box-sizing: border-box;
  padding: 0.5em 0.75em;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
}

.input--danger {
  border-color: red;
}

@media screen and (max-width: 768px) {
  .currency-input,
  .currency-input__input {
    width: 100%;
  }
}
