.currency-container {
  margin: 4em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .currency-container {
    flex-direction: column;
    gap: 50px;
  }
}
