.currency-item__content {
  box-sizing: border-box;
  padding: 0.5em 0.75em;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
}

.currency-item__upper-text {
  display: block;
  text-align: left;
  font-weight: bold;
}

.currency-item__long-text {
  color: #a1a6b0;
}

@media screen and (max-width: 768px) {
  .currency-item {
    width: 100%;
  }
  .currency-item__content {
    text-align: left;
  }
}
